# Игнорируем локальные файлы с переменными окружения
.env.local
.env

# Игнорируем временные файлы Go
*.tmp
*.log

# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем IDE файлы
.vscode/
.idea/
*.swp
*.swo

# Игнорируем файлы сборки
dist/
build/
